
.amina_page {
    animation: slide-in 0.5s backwards;
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    position: absolute;
    z-index: 1;
  }
  
  .header h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #F58F29;
    margin-top: 20px;
    margin-left: 330px;
  }
  
  .header h2 {
    font-family: 'Avenir' sans-serif;
    font-size: 20px;
    text-align: center;
    color: #F58F29;
    margin-top: -70px;
    margin-left: 300px;
  }
  
  .scroll-item {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .scroll-item img {
    width: 100%;
    height: auto;
    font-size: 16px;
  }
  
  .scroll-item p {
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 0.9;
    top: 1530px;
    left: 0;
    margin: 20px;
    z-index: 2;
    color: #F58F29;
    font-size: 80px;
  }

  .scroll-item p1 {
    font-family: 'Avenir', sans-serif;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 5%;
    right: 50%;
    margin: 20px;
    z-index: 2;
    color: white;
    font-size: 20px;
  }

  .scroll-item p2 {
    font-family: 'Avenir', sans-serif;
    position: absolute;
    text-align: center;
    top: 50px;
    left: 0;
    margin: 20px;
    z-index: 2;
    color: white;
    font-size: 20px;
  }


  .scroll-item1 {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .scroll-item1 img {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  .scroll-item1 p1 {
    font-family: 'Avenir', sans-serif;
    position: absolute;
    text-align: center;
    top: -300px;
    left: 60%;
    right: 10%;
    margin: 20px;
    z-index: 2;
    color: white;
    font-size: 20px;
  }

  .scroll-item1 p2 {
    font-family: 'Avenir', sans-serif;
    position: absolute;
    text-align: center;
    top: -230px;
    left: 60%;
    right: 10%;
    margin: 20px;
    z-index: 2;
    color: white;
    font-size: 20px;
  }

  .scroll-item2 {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .scroll-item2 img {
    width: 100%;
    height: auto;
    font-size: 16px;
  } */

/* Use rem units for font sizes */
/* html {
  font-size: 16px;
} */

body {
  margin: 0;
  padding: 0;
}

.header {
  left: 50%;
  top: 0;
  transform: translate(-50%, 10%);
  position: absolute;
  z-index: 1;
}

.header h1 {
  font-family: 'Avenir', sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #F58F29;
}

.header h2 {
  font-family: 'Avenir', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #F58F29;
}

.scroll-item {
  height: 100vh;
  width: 100%;
  position: relative;
}

.scroll-item img {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.scroll-item p {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
  line-height: 0.9;
  top: 80%;
  left: 0;
  margin: 2rem;
  z-index: 2;
  color: #F58F29;
  font-size: 4rem;
}

.scroll-item p1 {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 1%;
  right: 70%;
  margin: 2rem;
  z-index: 2;
  color: white;
  font-size: 1rem;
}

.scroll-item p2 {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 0;
  margin: 2rem;
  z-index: 2;
  color: white;
  font-size: 1rem;
}

.scroll-item1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.scroll-item1 img {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.scroll-item1 p1 {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  text-align: center;
  top: -30%;
  left: 60%;
  right: 10%;
  margin: 2rem;
  z-index: 2;
  color: white;
  font-size: 1rem;
}

.scroll-item1 p2 {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  text-align: center;
  top: -23%;
  left: 60%;
  right: 10%;
  margin: 2rem;
  z-index: 2;
  color: white;
  font-size: 1rem;
}

.scroll-item2 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.scroll-item2 img {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.scroll-item2 p {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
  line-height: 0.9;
  top: -5vw;
  left: 0;
  margin: 2vw;
  z-index: 2;
  color: #F58F29;
  font-size: 4vw;
  }
  
  .scroll-item2 p1 {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  text-align: center;
  top: 120%;
  left: 10%;
  right: 40%;
  margin: 2vw;
  z-index: 2;
  color: white;
  font-size: 1rem;
  }
  
  .scroll-item2 p2 {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  text-align: center;
  top: 128%;
  left: 10%;
  right: 40%;
  margin: 2vw;
  z-index: 2;
  color: white;
  font-size: 1rem;
  }




  /* .scroll-item2 p {
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 0.9;
    top: -180px;
    left: 0;
    margin: 20px;
    z-index: 2;
    color: #F58F29;
    font-size: 60px;
  }

  .scroll-item2 p1 {
    font-family: 'Avenir', sans-serif;
    position: absolute;
    text-align: center;
    top: 840px;
    left: 10%;
    right: 40%;
    margin: 20px;
    z-index: 2;
    color: white;
    font-size: 20px;
  }

  .scroll-item2 p2 {
    font-family: 'Avenir', sans-serif;
    position: absolute;
    text-align: center;
    top: 900px;
    left: 10%;
    right: 40%;
    margin: 20px;
    z-index: 2;
    color: white;
    font-size: 20px;
  } */

  